@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
#team {
    background-image: url("https://images.pexels.com/photos/97260/pexels-photo-97260.jpeg?cs=srgb&dl=cactus-minimalism-plant-97260.jpg&fm=jpg") !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center top;

}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #108d6f;
    border-color: #108d6f;
    box-shadow: none;
    outline: none;
    min-width: 180px;

}

.btn-primary {
    color: #fff;
    background-color: #007b5e;
    border-color: #007b5e;
    min-width: 180px;

}

section {
    padding: 60px 0;
    min-width: 180px;

}

section .section-title {
    text-align: center;
    color: salmon;
    font-weight: 900;
    margin-bottom: 50px;
    text-transform: uppercase;
    font-size: 80px;
    font-family: 'Open Sans Condensed', sans-serif;
    min-width: 180px;

}

#team .card {
    border: none;
    min-width: 180px;

}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
    min-width: 180px;

}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
    min-width: 180px;

}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
    min-width: 180px;

}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    min-width: 180px;

}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    min-width: 180px;

}

.frontside .card,
.backside .card {
    min-height: 312px;
    min-width: 180px;

}

.backside .card a {
  font-size: 18px;
  color: rgb(95, 172, 113) !important;
  min-width: 180px;

}

.frontside .card .card-title,
.backside .card .card-title {
    color: #c26c63 !important;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 60px;
    background-color: white;
    opacity: 0.9;
    min-width: 180px;

}

.frontside .card .card-body img {
    width: 180px;
    height: 180px;
    border-radius: 90%;
    min-width: 180px;

}
/* ==================================================================================================================
Search Buttons ======================================================================================================
================================================================================================================== */
ul.search-buttons {
  text-align: center;
  margin-top: 50px;
}

ul.search-buttons li {
  display: inline-block;
  margin: 0 10px;
}

ul.search-buttons li a {
  width: 60px;
  height: 60px;
  display: block;
  border-radius: 50px;
  text-decoration: none;
  font-size: 30px;
  line-height: 60px;
  color: white;
}

ul.search-buttons li a.life {
  background-color: #c26c63;
}

ul.search-buttons li a.love {
  background-color: #c26c63;
}

ul.search-buttons li a.death {
  background-color: #c26c63;
}

ul.search-buttons li a.inspiration {
  background-color: #c26c63;
}

ul.search-buttons li a.happiness {
  background-color: #c26c63;
}
ul.search-buttons li a.humor {
  background-color: #c26c63;
}
ul.search-buttons li a.hope {
  background-color: #c26c63;
}
ul.search-buttons li a.motivation {
  background-color: #c26c63;
}
ul.search-buttons li a.friendship {
  background-color: #c26c63;
}

/*Demo 1*/
ul#demo1 li a {
  transition: transform 0.2s linear;
}

ul#demo1 li:hover a {
  transform: translateY(-10px);
}
/* ==================================================================================================================
Sign Up Form ======================================================================================================
================================================================================================================== */
.sign-up-body {
    font-family: "Lato", sans-serif;
    text-align: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
.sign-up-body fieldset {
  border: none;
}
.sign-up-body fieldset:valid > button {
  opacity: 1;
}
.sign-up-body fieldset:valid > button:hover {
  opacity: 1;
  background: #CD3C3C;
}
.sign-up-body button {
  width: 280px;
  opacity: .5;
  cursor: pointer;
  -webkit-transition: all .4s;
  transition: all .4s;
  border: none;
  font-family: "Lato", sans-serif;
  padding: 20px;
  background-color: #f65252;
  color: white;
  outline: none;
  margin-top: 15px;
}
.sign-up-body .kickass_field {
  margin: auto;
  position: relative;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100px;
  right: 0;
  width: 280px;
}
.sign-up-body .kickass_field lable {
  font-size: 14px;
  position: absolute;
  height: 100px;
  overflow: hidden;
  left: 0;
  width: 100%;
  top: 50px;
  text-align: left;
  color: #F65252;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  pointer-events: none;
  -webkit-transition: all .2s .3s;
  transition: all .2s .3s;
}
.sign-up-body .kickass_field lable span {
  font-size: 10px;
  color: #9f9fb5;
  clear: left;
  opacity: 0;
  font-weight: 400;
  display: block;
  -webkit-transition: opacity .5s .0s;
  transition: opacity .5s .0s;
}
.sign-up-body .kickass_field lable:after {
  width: 4px;
  content: '';
  height: 8px;
  border-bottom: 2px solid #f65252;
  border-right: 2px solid #f65252;
  -webkit-transform: translateX(-10px) rotate(45deg);
          transform: translateX(-10px) rotate(45deg);
  position: absolute;
  left: 120%;
  top: 30px;
  -webkit-transition: all .2s;
  transition: all .2s;
}
.sign-up-body .kickass_field input {
  border: none;
  color: #6E738A;
  font-weight: 400;
  padding: 40px 0px 10px 0px;
  background: transparent;
  letter-spacing: 1px;
  outline: none;
  font-family: "Lato", sans-serif;
  height: 30px;
  width: 280px;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  font-size: 14px;
  box-shadow: 0px 2px #f65252;
}
.sign-up-body .kickass_field input:focus + lable {
  color: #F65252;
  font-size: 10px;
  top: 10px;
  -webkit-transition: all .2s .0s;
  transition: all .2s .0s;
}
.sign-up-body .kickass_field input:focus + lable span {
  opacity: 1;
  -webkit-transition: opacity .5s .3s;
  transition: opacity .5s .3s;
}
.sign-up-body .kickass_field input:valid + lable {
  font-size: 10px;
  top: 10px;
  color: #f65252;
}
.sign-up-body .kickass_field input[type="password"]:valid + lable span {
  color: #99B62F;
}
.sign-up-body .kickass_field input:valid + lable span {
  opacity: 1;
  -webkit-transition: opacity .3s 0s;
  transition: opacity .3s 0s;
}
.sign-up-body .kickass_field input:valid + lable::after {
  display: block;
  left: 100%;
}
.sign-up-body .kickass_field input:invalid {
  color: #f9f9f9;
}
.sign-up-body .kickass_field input:focus:invalid {
  color: #6E738A;
}

/* --- End Form styling --- */
/* --- Begin template styling --- */
.sign-up-container {
  background: #f9f9f9;
  height: 100%;
  border: 14px solid white;
  padding: 40px;
  box-sizing: border-box;
  /* --- End template styling --- */
}
.container_inner {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.sign-up-container h1, .sign-up-container h2 {
  font-weight: 300;
}
.sign-up-container h1 {
  margin: 0;
  color: #6E738A;
}
.sign-up-container p {
  color: #6E738A;
  font-weight: 300;
  margin-top: 40px;
}
.sign-up-container .love span {
  font-size: 12px;
  color: #bcbcbc;
  font-weight: 300;
}
.sign-up-container .love span a {
  color: #f65252;
  font-weight: 700;
}
.sign-up-container .love span img {
  position: relative;
  margin: 3px;
  top: 7px;
}
.sign-up-container h2 {
  margin: 7px 0 24px 0;
  font-size: 22px;
  color: #9A9FB5;
}
.sign-up-container a {
  color: #f65252;
  text-decoration: none;
}
.sign-up-container a:hover {
  text-decoration: underline;
}

#Joe {
  width: 10px;
  height: 180px;
  border-radius: 90%;
  min-width: 170px;
}


img {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(80%);
}